{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}

<header>
    <div>
        <nav class="navbarBlack">
            <ul class="navbar">
                <li>
                    <a href="{{ path('home') }}" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="{{ path('search') }}" class="nav-links">Artists</a>
                </li>
                <li>
                    <a href="">
                        <img src="{{asset('build/frequency_logo_blanc.svg')}}" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{ path('style_index') }}" class="nav-links">Styles</a>
                </li>
                <li>
                    <a href="{{ path('live') }}" class="nav-links">Live</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
	<div class="wrapper">
		<div class="wrapperVideo">
			<video autoplay muted preload="none" width="100%">
				<source src="{{asset('build/Video_Home_Principal.mp4')}}" type="video/mp4">
				<source src="movie.ogg" type="video/ogg">
				Your browser does not support the video tag.
			</video>
		</div>
	</div>
	<div class="containerHomeArtist">
		<div class="containerArtistLeft">
			<h2>Josh</h2>
			<button>
				<a href="{{path('user_index')}}">
					> info</a>
			</button>
		</div>
		<div class="containerArtistRight">
			<H2>wink</H2>
			<div>
				<img src="{{asset('build/Badges/UK.svg')}}" alt="">
			</div>
		</div>
	</div>
</div>
<div class="containerHomeMiddle">
	<div class="flexContainerLeft"></div>
	<div class="flexContainerRight">
		<div class="absoluteImg">

			<img src="{{asset('build/Cover/josh_wink_cover.jpg')}}" id="img1" alt="cover_artist">

			<img src="{{asset('build/tv.png')}}" id="img2" alt="TV_img">
		</div>
	</div>
	<div class="absoluteContainer">
		<div>
			<h2>
				Song
				<br>
				<span>Of the day</span>
			</h2>
		</div>
		<div class="homeBanner">
			<a href="#">learn more about the best song of the day</a>
		</div>
	</div>
</div>
<div class="containerHome">
	<div class="containerLeft">
		<h2>Style's family of
		</h2>
		<button>
			<a href="{{path('style_index')}}">
				> info</a>
		</button>
	</div>
	<div class="containerRight">
		<H2>House</H2>
		<h3>Acid House</h3>
		<h3>Afro House</h3>
		<h3>Big Room House</h3>
		<h3>Electro House</h3>
	</div>
</div>{% endblock %}
