{% extends 'base.html.twig' %}

{% block title %} Live {% endblock %}

{% block body %}

<style>
container.dailylive {
	 display: flex;
}
 container.dailylive h1 {
	 font-family: "Oswald";
	 font-size: 80px;
	 font-weight: 600;
	 font-stretch: normal;
	 font-style: normal;
	 line-height: 1.48;
	 letter-spacing: normal;
	 padding: 10px;
	 margin: 0;
	 text-transform: uppercase;
	 font-family: "Oswald";
	 font-style: normal;
	 line-height: 1.48;
	 letter-spacing: normal;
	 padding: 10px;
	 -webkit-text-stroke: 2px #181716;
	 margin: 0;
	 color: rgba(0, 0, 0, 0);
}
 container.dailylive .leftside {
	 width: 20%;
}
 container.dailylive .leftside h1 {
	 color: #181716;
	 margin-left: 50px;
}
 container.dailylive .rightside {
	 position: relative;
}
 container.dailylive .rightside .live {
	 position: absolute;
}
 .otherlives {
	 display: flex;
	 flex-wrap: nowrap;
}
 .otherlives .oktier {
	 display: flex;
	 justify-content: space-around;
	 flex-direction: column;
	 width: 33%;
}
 .otherlives .oktier img {
	 width: 70%;
	 margin: 0 auto;
}
 .otherlives .oktier img.badge {
	 width: 15%;
	 margin-top: 15px;
}
 .roll {
	 width: 100%;
	 font-family: "IBM Plex Mono", 'Monospace';
	 font-size: 28px;
	 font-weight: normal;
	 font-stretch: normal;
	 font-style: normal;
	 line-height: 1.48;
	 letter-spacing: normal;
	 color: red;
	 padding: 10px;
	 margin: 0;
}
 .lineup {
	 font-family: "IBM Plex Mono", 'Monospace';
	 font-size: 28px;
	 font-weight: normal;
	 font-stretch: normal;
	 font-style: normal;
	 line-height: 1.48;
	 letter-spacing: normal;
	 color: black;
	 margin-left: 30px;
}
 .lineup span {
	 color: red;
}
 
</style>

<header>
    <div>
        <nav class="navbarBlack">
            <ul class="navbar">
                <li>
                    <a href="{{ path('home') }}" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="{{ path('search') }}" class="nav-links">Artists</a>
                </li>
                <li>
                    <a href="">
                        <img src="{{asset('build/frequency_logo_blanc.svg')}}" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{ path('style_index') }}" class="nav-links">Styles</a>
                </li>
                <li>
                    <a href="{{ path('live') }}" class="nav-links">Live</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<container class="dailylive"> 
    <div class="leftside" >
        <h1 style="margin-left: 70px;">TODAYS</h1>
    </div>

    <div class="rightside">
        <h1 class="live">LIVE</h1>
        <a href="https://www.twitch.tv/djbrucewilles">
        <img src="https://cdn.zeplin.io/5ea01826527afa7d28e3f02c/assets/1591E9EA-B1FE-43AB-89F5-5505DB126961.png" alt="">
        </a>
    </div>
</container>

<container> 
		<div class="containerArtistLeft" style="width: 87%;">
			<h2>OTHER</h2>
		</div>
		<div class="containerArtistRight">
			<h2>LIVES</h2>
		</div>
</container> 

<div class="otherlives">
    <div class="oktier">
        <img src="https://cdn.zeplin.io/5ea01826527afa7d28e3f02c/assets/66695307-7FFA-4A04-BA9A-9725A013D7FB.png" alt="">    
        <img class="badge" style="fill:cyan" src="{{asset('build/Badges/BE.svg')}}"></img>  
    </div>
    <div class="oktier">
        <img src="https://cdn.zeplin.io/5ea01826527afa7d28e3f02c/assets/7482483B-BADA-43EC-8395-54AA7E1AFA98.png" alt="">   
        <img class="badge" src="{{asset('build/Badges/UK.svg')}}"></img>  
    </div>
    <div class="oktier">
        <img src="https://cdn.zeplin.io/5ea01826527afa7d28e3f02c/assets/2EEB98FA-26EE-4A38-AA51-C6A49890AD01.png" alt="">    
        <img class="badge" src="{{asset('build/Badges/EU.svg')}}"></img>  
    </div>
</div>

<container style="margin-top: 50px;"> 
		<div class="containerArtistLeft" style="width: 13%; ">
			<h2>LINE</h2>
		</div>
		<div class="containerArtistRight">
			<h2>UP</h2>
		</div>
</container> 
<div class="roll">
    <p> APRIL-27 APRIL-27 APRIL-27 APRIL-27 APRIL-27 APRIL-27 APRIL-27 APRIL-27 APRIL-27 APRIL-27 APRIL-27 APRIL-27 </p>
</div>

<div class="lineup">

<p>
 • 8h30 – 10h : <span>CoMyd-19</span> , avec Myd en live pour Ed Banger Records.
</p>

<p>
 • 10h30 – 02h : <span>Coro Rave</span>
</p>

<p>
 • 13h : <span>Boiler Room</span> (streaming from isolation) avec <span>Peggy Gou</span>.
</p>

<p>
 • 14h – 15h : <span>Bob Sinclar</span> en live.
</p>

<p>
 • 15h : <span>Maison Tsugi</span> Festival avec Didier Wampas.
</p>

<p>
 • 15h – 19h : <span>United We Stream</span> depuis Vienne
</p>

</div>

{% endblock %}
