{% extends 'base.html.twig' %}

{% block title %}
Search
{% endblock %}

{% block body %}
<div>
<header>
    <div>
        <nav class="navbarWhite">
            <ul class="navbar">
                <li>
                    <a href="{{ path('home') }}" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="{{ path('search') }}" class="nav-links">Artists</a>
                </li>
                <li>
                    <a href="">
                        <img src="{{asset('build/frequency_logo.svg')}}" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{ path('style_index') }}" class="nav-links">Styles</a>
                </li>
                <li>
                    <a href="{{ path('live') }}" class="nav-links">Live</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
    <main>
        <div class="searchBar">
            <div>
                <h2>
                    <a style="color:black; text-decoration: none"href="{{ path('user_index') }}">
                        DISCOVER ALL
                        <span>ARTISTS</span>
                    </a>
                </h2>
                <!-- searchbar -->
            </div>
        </div>
        <div class="artistOfTheDay" style="margin-bottom: 130px;">
            <div>
                <h2>Artist of
                    <span>The Day</span>
                </h2>
                <div>
                    <!-- badge here -->
                </div>
            </div>
            <div class="containerArtist">
                <div class="artistProfile">
                    <img src="{{asset('build/artist/Josh_wink_artiste.jpg')}}" alt="badge_country">
                </div>
                <p>James Baldwin once wrote, "Be careful what you set your heart upon, for it will surely be yours.
                    Embracing a diligent work ethic, a spiritual mindset & a self-taught mastery of dancefloor
                    devastation using little more than a pair of turntables, Josh Wink.In 1990, Josh met up with a
                    kindred spirit, fellow Philly jock, King Britt whose interests also include rap and acid jazz.
                    Pooling their interests and blending their differences, the duo waxed E-culture's "Tribal Confusion"
                    for respected New York based indie label, Strictly Rhythm. The record was a surprising commercial
                    success and established both DJs as artists to watch on the global dance music scene.</p>
                <div class="relativeIMG">
                    <div>
                        <img src="{{asset('build/Cover/josh_wink_cover.jpg')}}" id="img1"
                            alt="cover_artist">
                    </div>
                    <div>
                        <img src="{{asset('build/tv.png')}}" id="img2" alt="TV_img">
                    </div>
                </div>
            </div>
            <div class="square"></div>
            <!-- absolute top 0, left 0, width80% height 100% border-->
        </div>
    </main>

</div>

{% endblock %}