{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
Inscription validée

<a href="{{ path('home') }}">back to home</a>
<a href="{{ path('app_register') }}">back to registration</a>

{% endblock %}
