 
{% extends 'base.html.twig' %}

{% block title %}
    show style
{% endblock %}

{% block body %}
<header>
    <div>
        <nav class="navbarWhite">
            <ul class="navbar">
                <li>
                    <a href="{{ path('home') }}" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="{{ path('search') }}" class="nav-links">Artists</a>
                </li>
                <li>
                    <a href="">
                        <img src="{{asset('build/frequency_logo.svg')}}" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{ path('style_index') }}" class="nav-links">Styles</a>
                </li>
                <li>
                    <a href="{{ path('live') }}" class="nav-links">Live</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

    <div>
        show style

        <h1>
            {{style.name}}
            <br>
            {{style.description}}
            {# {{style.emergencebadge}}  {{style.provenancebadge}} #}
        </h1>
        Artist list
        {% for substyle in style.substyles %}
            <h2>
                {{substyle.name}}
            </h2>
--- artisté qui a l'ID du substyle
            {% for user in substyle.users %}
                <p>
                    {{user.name}} {{user.firstname}}
                    
                </p>
            {% endfor %}
        {% endfor %}
        <br>
        <br>

        Discover more
        {% for substyle in style.substyles %}
            <h2>
                {{substyle.name}}
            </h2>
            <p>
                {{substyle.name}}
            </p>
        {% endfor %}
    </div>

{% endblock %}