{% extends 'base.html.twig' %}

{% block title %}
all styles
{% endblock %}

{% block body %}
<header>
    <div>
        <nav class="navbarWhite">
            <ul class="navbar">
                <li>
                    <a href="{{ path('home') }}" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="{{ path('search') }}" class="nav-links">Artists</a>
                </li>
                <li>
                    <a href="">
                        <img src="{{asset('build/frequency_logo.svg')}}" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{ path('style_index') }}" class="nav-links">Styles</a>
                </li>
                <li>
                    <a href="{{ path('live') }}" class="nav-links">Live</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div>
    {% for style in styles %}
    <div id="{{style.name}}">
        <div id="styleTitle">
            <h2>
                {{style.name}}
            </h2>
        </div>
        <div class="navSubstyle">
            <ul>
                {% for substyle in style.substyles %}
                <li><a href="{{ path('substyle_show', {'id': substyle.id}) }}">{{substyle.name}}</a></li>


                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
    
    {% endblock %}
