{% extends 'base.html.twig' %}

{% block title %}
	show style
{% endblock %}

{% block body %}
<<<<<<< HEAD
<header>
    <div>
        <nav class="navbarBlack">
            <ul class="navbar">
                <li>
                    <a href="{{ path('home') }}" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="{{ path('search') }}" class="nav-links">Artists</a>
                </li>
                <li>
                    <a href="">
                        <img src="{{asset('build/frequency_logo_blanc.svg')}}" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{ path('style_index') }}" class="nav-links">Styles</a>
                </li>
                <li>
                    <a href="{{ path('live') }}" class="nav-links">Live</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
	<div class="heroStyle">
		<h2>
			{{substyle.name}}
		</h2>
		<div>
			<p>Acid house is a kind of House music developed in the mid-1980s by DJs from Chicago. It features an analog bass created by a Roland TB-303 synthesizer-sequencer. At the end of the 1980s, acid house was developing in the British music scene, where it was influenced by pop and dance directions. By looping a certain note and then distorting the resulting wave (by cutoff, resonance or envelop), the characteristic and psychedelic “acid sound” was created. Acid house is a musical subgenre that has helped the popularization of house music around the world. Acid house sound elements have also been added to other genres of electronic music such as trance, Goa trance, psychedelic trance, breakbeat, big beat, techno and trip hop.</p>
=======
	<header>
		<div>
			<nav class="navbarBlack">
				<ul class="navbar">
					<li>
						<a href="" class="nav-links">Home</a>
					</li>
					<li>
						<a href="" class="nav-links">Artists</a>
					</li>
					<li>
						<a href="#">
							<img src="{{asset('build/frequency_logo_blanc.svg')}}" alt="">
						</a>
					</li>
					<li>
						<a href="" class="nav-links">Styles</a>
					</li>
					<li>
						<a href="" class="nav-links">Profil</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div>
		<div class="heroStyle">
			<h2>
				{{substyle.name}}
			</h2>
			<div>
				<p>Acid house is a kind of House music developed in the mid-1980s by DJs from Chicago. It features an analog bass created by a Roland TB-303 synthesizer-sequencer. At the end of the 1980s, acid house was developing in the British music scene, where it was influenced by pop and dance directions. By looping a certain note and then distorting the resulting wave (by cutoff, resonance or envelop), the characteristic and psychedelic “acid sound” was created. Acid house is a musical subgenre that has helped the popularization of house music around the world. Acid house sound elements have also been added to other genres of electronic music such as trance, Goa trance, psychedelic trance, breakbeat, big beat, techno and trip hop.</p>
			</div>
>>>>>>> 6a3bb9f1d3b2dff52c2186c01a7747ef188f2287
		</div>
		<div class="containerArtistSubstyles">
			<div class="containerArtistSubsLeft">
				<h2>{{user.name}}</h2>
			</div>
			<div class="containerArtistSubsRight">
				<H2>{{user.firstname}}</H2>
			</div>
			<div class="containerTypeArtist">
				<p>pioneer artist</p>
				<p>pioneer artist</p>
				<p>pioneer artist</p>
				<p>pioneer artist</p>
				<p>pioneer artist</p>
			</div>
			<div class="absoluteSongLink">
				<div class="music_link">
					<a href="{{song.name}}">
						Annette - Dream 17
					</a>
				</div>
			</div>
		</div>
		<div class="containerArtistSubstyles">
			<div class="containerArtistSubsLeft">
				<h2>{{user.name}}</h2>
			</div>
			<div class="containerArtistSubsRight">
				<H2>{{user.firstname}}</H2>
			</div>
			<div class="music_link"></div>
			<div class="containerTypeArtist">
				<p>emerging artist</p>
				<p>emerging artist</p>
				<p>emerging artist</p>
				<p>emerging artist</p>
				<p>emerging artist</p>

			</div>
			<div class="absoluteSongLink">
				<div class="music_link">
					<a href="https://www.youtube.com/watch?v=DdQKSMkpPGM">
						Annette - Dream 17
					</a>
				</div>
			</div>
		</div>
		<div class="Morediscover">
			<div class="discoverTitle">
				<h3>Discover
					<span>More</span>
				</h3>
			</div>
			<div class="containerDiscover">

				<div class="discoverSubstyle">
					<a href="#">{{substyle.name}}</a>
					<p>{{style.name}}</p>
					<img classe="badge" src="/build/Badges/{{ user.country }}.svg">
				</div>
				<div class="discoverSubstyle">
					<a href="#">{{substyle.name}}</a>
					<p>{{style.name}}</p>
					<img classe="badge" src="/build/Badges/{{ user.country }}.svg">
				</div>
				<div class="discoverSubstyle">
					<a href="#">{{substyle.name}}</a>
					<p>{{style.name}}</p>
					<img classe="badge" src="/build/Badges/{{ user.country }}.svg">
				</div>
				<div class="discoverSubstyle">
					<a href="#">{{substyle.name}}</a>
					<p>{{style.name}}</p>
					<img classe="badge" src="/build/Badges/{{ user.country }}.svg">
				</div>
			</div>
		</div>
		<footer>
			<div class="footer">
				<div class="copyright">
					©Frequency / 2020
				</div>
				<div class="socialmedia">
					<i class="fab fa-instagram"></i>
				</div>
				<div class="socialmedia">
					<i class="fab fa-soundcloud"></i>
				</div>
				<div class="socialmedia">
					<i class="fab fa-spotify"></i>
				</div>
				<div class="socialmedia">
					<i class="fab fa-twitter"></i>
				</div>
				<div class="socialmedia">
					<i class="fab fa-youtube"></i>
				</div>
				<div class="socialmedia">
					<i class="fab fa-facebook-f"></i>
				</div>
				<div class="contact">
					<a href="#">Contact</a>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}
