.artistOfTheDay {
    width: 100%;
    position: relative;
    .square {
        position: absolute;
        border: solid 3px #fe4538;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        z-index: -2;
    }
    h2 {
        font-family: "Oswald";
        font-size: 64px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        color: #181716;
        padding: 10px;
        margin: 0;
    }
    span {
        font-family: "Oswald";
        font-size: 64px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        -webkit-text-stroke: 2px #181716;
        color: rgba(0, 0, 0, 0);
    }
    .containerArtist {
        display: flex;
        align-items: center;

        padding: 20px;
        .artistProfile {
            width: 300px;
        }
        img {
            width: 100%;
        }

        p {
            width: 45%;
            padding: 20px 20px 20px 50px;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.3;
            letter-spacing: normal;
            color: #000000;
        }
        .relativeIMG {
            position: relative;
            margin-left: 50px;
            margin-bottom: 250px;
            img {
                position: absolute;
                height: auto;
            }
            #img1 {
                z-index: -1;
                width: 237px;
                margin-left: 45px;
                border-radius: 10%;
                margin-top: 10px;
            }
            #img2 {
                width: 400px;
                z-index: 1;
            }
        }
    }
    
}
.searchBar{
    text-transform: uppercase;
    text-align: center;
    h2 {
        font-family: "Oswald";
        font-size: 64px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        color: #181716;
        padding: 10px;
        margin: 0;
    }
    span {
        font-family: "Oswald";
        font-size: 64px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        -webkit-text-stroke: 2px #181716;
        color: rgba(0, 0, 0, 0);
    }
}
