.containerHome {
    display: flex;
    margin-bottom: 100px;
    .containerLeft {
        position: relative;
        width: 50%;
        height: 300px;
        background-color: #c2c2c2;
        text-align: right;
        text-transform: uppercase;
        h2 {
            font-family: "Oswald";
            font-size: 80px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            color: #181716;
            padding: 10px;
            margin: 0;
        }
        button {
            margin-top: 0;
            position: absolute;
            padding: 5px 20px;
            margin: 10px;
            border: none;
            bottom: 0;
            right: 0;
            background-color: black;
            a {
                text-decoration: none;
                font-family: "IBM Plex Mono",'monospace';
                font-size: 28px;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
    }
    .containerRight {
        h2 {
            text-transform: uppercase;
            font-family: "Oswald";
            font-size: 80px;
            font-weight:600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            padding: 10px;
            -webkit-text-stroke: 2px #181716;
            margin: 0;
            color: rgba(0, 0, 0, 0);
        }
        h3 {
            text-transform: initial;
            font-family: "IBMPlexMono";
            font-size: 24px;
            padding-left: 10px;
            padding-bottom: 5px;
            color: #fd4538;
            margin: 0;
        }
    }
}
.containerHomeArtist {
    display: flex;
    margin-bottom: 100px;
    .containerArtistLeft {
        position: relative;
        width: 50%;
        height: 300px;
        background-color: #c2c2c2;
        text-align: right;
        text-transform: uppercase;
        h2 {
            font-family: "Oswald";
            font-size: 80px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            color: #181716;
            padding: 10px;
            margin: 0;
        }
        button {
            margin-top: 0;
            position: absolute;
            padding: 5px 20px;
            margin: 10px;
            border: none;
            bottom: 0;
            right: 0;
            background-color: black;
            a {
                text-decoration: none;
                font-family: "IBMPlexMono";
                font-size: 28px;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
    }
    .containerArtistRight {
        display: flex;
        h2 {
            text-transform: uppercase;
            font-family: "Oswald";
            font-size: 80px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            padding: 10px;
            -webkit-text-stroke: 2px #181716;
            margin: 0;
            color: rgba(0, 0, 0, 0);
        }
        img {
            width: 40%;
            padding-top: 20px;
            margin-left: 50px;
        }
    }
}

.containerHomeMiddle {
    display: flex;
    margin-bottom: 100px;
    position: relative;
    .flexContainerLeft {
        width: 50%;
        height: 300px;
        z-index: -2;
    }
    .flexContainerRight {
        z-index: 0;

        .absoluteImg{
            position: relative;
            width:50%;
            height:80%;
                img {
                    position: absolute;
                    max-width: 100%;
                    height: auto;
                }
                #img1{
                    z-index: 2;
                    width:59%;
                    height: 69%;
                    border-radius: 11%;
                    left:42px;
                    bottom:47px;

                }
                #img2{
                    z-index: 1;
                }
        }
        width: 50%;
        height: 300px;
        background-color: #c2c2c2;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .absoluteContainer {
        position: absolute;
        width: 100%;
        text-transform: uppercase;
        h2 {
            width: 28%;
            margin: 0 auto;
            font-family: "Oswald";
            font-size: 80px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            color: #181716;

            span {
                font-family: "Oswald";
                font-size: 80px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.48;
                letter-spacing: normal;
                -webkit-text-stroke: 2px #181716;
                color: rgba(0, 0, 0, 0);
            }
        }
        .homeBanner {
            margin: 0 auto;
            width: max-content;
            a {
                display: block;
                margin-left: 250px;

                text-decoration: none;
                color: #ffffff;
                background: #fd4538;
                padding:10px 15px;
                font-family: "IBMPlexMono";
                
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.31;
                letter-spacing: normal;
                word-spacing: 10px;
                text-align: left;
            }
        }
    }
}
