.navSubstyle {
    width:40%;
    margin:0 auto;
    display: flex;
    align-items: center;    
    margin-bottom: 30px;
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: 25px;

    }
    li {

        list-style: none;
        padding: 10px;
    }
    a {
        text-decoration: none;
        font-family: "Oswald";
        font-size: 24px;
        font-weight: 300px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #f6f6f6;
    }
}
#styleTitle {
    position: absolute; /* postulat de départ */
    top: 37%; left: 20%; /* à 50%/50% du parent référent */
    transform: translate(-37%, -20%); /* décalage de 50% de sa propre taille */    h2 {
        display: block;
        width: 100%;
        height: 50%;
        text-align: right;
        a {
            color: #ffffff;
            text-decoration: none;
        }
    }
    img {
        width: 20%;
    }
}
#House {
    position: relative;
    background-color: #ff9390;
    display: flex;
    flex-wrap: nowrap;
    font-family: "Oswald";
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    height: 300px;
    color: #f6f6f6;
    border-radius: 50%;
}
#Techno {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    background-color: #fe4538;
    font-family: "Oswald";
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    height: 300px;
    color: #f6f6f6;
    border-radius: 50%;
}
#Garage {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    background-color: #4fc7dd;
    font-family: "Oswald";
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    height: 300px;
    color: #f6f6f6;
    border-radius: 50%;
}
#DrumnBass {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    background-color: #f8c416;
    font-family: "Oswald";
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    height: 300px;
    color: #f6f6f6;
    border-radius: 50%;
}
#Dubstep {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    background-color: #25a98a;
    font-family: "Oswald";
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    height: 300px;
    color: #f6f6f6;
    border-radius: 50%;
}
