.dailylive{
    display: flex;
    h1{
        font-family: "Oswald";
        font-size: 80px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        padding: 10px;
        margin: 0;
        text-transform: uppercase;
        font-family: "Oswald";
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        padding: 10px;
        -webkit-text-stroke: 2px #181716;
        margin: 0;
        color: rgba(0, 0, 0, 0);
    }

    .leftside{
        width: 20%;
        h1{
            color: #181716;
            margin-left: 50px;

        }

    }
    
    .rightside{
        position: relative;
        .live{
            position: absolute;
        }
    }
}

.otherlives{
    display: flex;
    flex-wrap: nowrap;
    .oktier{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 33%;
        img{
            width: 70%;
            margin: 0 auto ;
        }
        img.badge{
            width: 15%;
            margin-top: 15px;
        }
    }
}

.roll{
    width: 100%;
    font-family: "IBM Plex Mono", 'Monospace';
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    color: red;
    padding: 10px;
    margin: 0;
}

.lineup{
    font-family: "IBM Plex Mono", 'Monospace';
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    color: black;
    margin-left: 30px;
    span{
        color: red;
    }

}