container{
    display: flex;
}
.artistsheet{
    .details{
        height: 100%;
        width: 50%;
        h1{
            text-transform: uppercase;
            font-family: "Oswald";
            font-size: 70px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            color: #181716;
            padding: 10px;
            margin: 0;
        }
        p{
            font-family: "IBM Plex Mono", 'Monospace';
            font-size: 28px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            color: #181716;
            padding: 10px;
            margin: 0;
        }
        img{
            height: 100%;
            width: 100%;
        }
        .badge{
            text-align: center;
            width: 10%;
            margin: 0 auto;
        }
    }
}

.containerArtistLeft {
    position: relative;
    width: 50%;
    height: 150px;
    text-align: right;
    text-transform: uppercase;
    h2 {
        font-family: "Oswald";
        font-size: 80px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        color: #181716;
        padding: 10px;
        margin: 0;
    }
    button {
        margin-top: 0;
        position: absolute;
        padding: 5px 20px;
        margin: 10px;
        border: none;
        bottom: 0;
        right: 0;
        background-color: black;
        a {
            text-decoration: none;
            font-family: "IBMPlexMono";
            font-size: 28px;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
}
.containerArtistRight {
    display: flex;
    h2 {
        text-transform: uppercase;
        font-family: "Oswald";
        font-size: 80px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: normal;
        padding: 10px;
        -webkit-text-stroke: 2px #181716;
        margin: 0;
        color: rgba(0, 0, 0, 0);
    }
    img {
        width: 40%;
        padding-top: 20px;
        margin-left: 50px;
    }
}
.cover{
    width: auto;
    margin-left: 5%;
}
.songs{
    width: 70%;
    margin: auto 0;
    .songlist{
        margin: 30px 0;
        // display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        // align-content: center;
        // margin: auto 0; 
        h3{
            font-size: 2.6em;
            margin : 20px 30px ;
            font-family: "Oswald";
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}
