.heroStyle {
    background-color: black;
    height: 600px;
    width: 100%;
    display: inline-block;
    h2 {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        font-family: "Oswald";
        font-size: 80px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 6.16px;
        color: #ff9390;
        padding: 30px 0px;
        margin-bottom: 50px;
    }
    p {
        width: 80%;
        margin: 0 auto;
        font-family: "IBM Plex Mono", monospace;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
}
.containerArtistSubstyles {
    display: flex;
    margin: 50px 0;
    position: relative;

    .containerArtistSubsLeft {
        width: 50%;
        height: 200px;
        background-color: #c2c2c2;
        text-align: right;
        text-transform: uppercase;
        position: relative;
        h2 {
            font-family: "Oswald";
            font-size: 80px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            color: #181716;
            padding: 10px;
            margin: 0;
        }
        button {
            margin-top: 0;
            position: absolute;
            padding: 5px 20px;
            margin: 10px;
            border: none;
            bottom: 0;
            right: 0;
            background-color: black;
            a {
                text-decoration: none;
                font-family: "IBM Plex Mono", "monospace";
                font-size: 28px;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
    }
    .containerArtistSubsRight {
        width: 35%;
        h2 {
            position: relative;
            text-transform: uppercase;
            font-family: "Oswald";
            font-size: 80px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            padding: 10px;
            -webkit-text-stroke: 2px #181716;
            margin: 0;
            color: rgba(0, 0, 0, 0);
        }
        h3 {
            text-transform: initial;
            font-family: "IBM Plex Mono", "monospace";
            font-size: 24px;
            padding-left: 10px;
            padding-bottom: 5px;
            color: #fd4538;
            margin: 0;
        }
    }

    .containerTypeArtist {
        margin-top: 20px;
        p {
            text-align: center;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-family: "Oswald";
            font-size: 22px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #181716;
        }
    }
    .absoluteSongLink {
        position: absolute;
        width: 100%;
        bottom: 20%;
        .music_link {
            margin: 0 auto;
            width: max-content;

            a {
                display: block;
                text-decoration: none;
                background-color: #ff9390;
                font-family: "IBM Plex Mono", "monospace";
                font-size: 28px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
            }
        }
    }
}
