.Morediscover {
    position: relative;
    .discoverTitle {
        display: flex;
        margin-left: 60px;
        margin-bottom:50px;

        h3 {
            font-family: "Oswald";
            font-size: 64px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            color: #181716;
            padding: 10px;
            margin: 0;
        }
        span {
            font-family: "Oswald";
            font-size: 64px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            -webkit-text-stroke: 2px #181716;
            color: #ffffff;
        }
    }
    .containerDiscover {
        display: flex;
        width: 100%;
        .discoverSubstyle {
            position: relative;
            background-color: #ff9390;
            margin: 0 auto;
            width: 15%;
            padding: 30px;
            height:200px;
            margin-bottom:100px;
            a {
                text-transform: uppercase;
                font-family: "Oswald";
                font-size: 24px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.35;
                letter-spacing: 1.71px;
                text-align: left;
                color: #ffffff;
                text-decoration: none;
                margin:0;
            }
            p {
                margin:0;
                font-family: "IBM Plex Mono", "monospace";
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.34;
                letter-spacing: 1.23px;
                text-align: left;
                color: #ffffff;
            }
        }
        img {
            padding: 0px 25px 25px 0px;
            width: 40%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
