  .footer{
  
      display: flex;
      justify-content: space-around;
      width:60%;
      margin: 0 auto;
      padding:50px;
      bottom:0;
      left: 0;
      right:0;

  }
  .copyright{
    font-family: 'Oswald';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: 1.65px;
    text-align: left;
    color: #000000;
  }
  .socialmedia{

    padding: 5px;
  }
  .contact
  {
    a{
    font-family: 'Oswald';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: 1.65px;
    color: #000000;
    list-style: none;
    text-decoration: none;
  }
}