
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}
html, body{
  width: 100%;
  margin:0;

}
.navbarBlack{
  overflow: hidden;
  background-color: black;
  margin:0 auto;
  display:block;
  .navbar{
    display: table;
    text-align: center;
    li{
      display: table-cell;
      vertical-align: middle;
      width:10%;

    }
    a{
      font-family: 'IBM Plex Mono', monospace;
      font-weight: 500;
      font-size: 24px;
      color:white;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      img{
        display: inline-block;
        width:60%;
      }
    }
  }
}
.navbarWhite{
  overflow: hidden;
  background-color: #ffffff;
  margin:0 auto;
  display:block;
  .navbar{
    display: table;
    text-align: center;
    li{
      display: table-cell;
      vertical-align: middle;
      width:10%;

    }
    a{
      font-family: 'IBM Plex Mono', monospace;
      font-weight: 500;
      font-size: 24px;
      color:black;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      img{
        display: inline-block;
        width:60%;
      }
    }
  }
}