@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
}

.navbarBlack {
  overflow: hidden;
  background-color: black;
  margin: 0 auto;
  display: block;
}

.navbarBlack .navbar {
  display: table;
  text-align: center;
}

.navbarBlack .navbar li {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
}

.navbarBlack .navbar a {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 24px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.navbarBlack .navbar a img {
  display: inline-block;
  width: 60%;
}

.navbarWhite {
  overflow: hidden;
  background-color: #ffffff;
  margin: 0 auto;
  display: block;
}

.navbarWhite .navbar {
  display: table;
  text-align: center;
}

.navbarWhite .navbar li {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
}

.navbarWhite .navbar a {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 24px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.navbarWhite .navbar a img {
  display: inline-block;
  width: 60%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  padding: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.copyright {
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: 1.65px;
  text-align: left;
  color: #000000;
}

.socialmedia {
  padding: 5px;
}

.contact a {
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: 1.65px;
  color: #000000;
  list-style: none;
  text-decoration: none;
}

.navSubstyle {
  width: 40%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.navSubstyle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 25px;
}

.navSubstyle li {
  list-style: none;
  padding: 10px;
}

.navSubstyle a {
  text-decoration: none;
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 300px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #f6f6f6;
}

#styleTitle {
  position: absolute;
  /* postulat de départ */
  top: 37%;
  left: 20%;
  /* à 50%/50% du parent référent */
  -webkit-transform: translate(-37%, -20%);
          transform: translate(-37%, -20%);
  /* décalage de 50% de sa propre taille */
}

#styleTitle h2 {
  display: block;
  width: 100%;
  height: 50%;
  text-align: right;
}

#styleTitle h2 a {
  color: #ffffff;
  text-decoration: none;
}

#styleTitle img {
  width: 20%;
}

#House {
  position: relative;
  background-color: #ff9390;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: "Oswald";
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  height: 300px;
  color: #f6f6f6;
  border-radius: 50%;
}

#Techno {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #fe4538;
  font-family: "Oswald";
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  height: 300px;
  color: #f6f6f6;
  border-radius: 50%;
}

#Garage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #4fc7dd;
  font-family: "Oswald";
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  height: 300px;
  color: #f6f6f6;
  border-radius: 50%;
}

#DrumnBass {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #f8c416;
  font-family: "Oswald";
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  height: 300px;
  color: #f6f6f6;
  border-radius: 50%;
}

#Dubstep {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #25a98a;
  font-family: "Oswald";
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
  height: 300px;
  color: #f6f6f6;
  border-radius: 50%;
}

.containerHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.containerHome .containerLeft {
  position: relative;
  width: 50%;
  height: 300px;
  background-color: #c2c2c2;
  text-align: right;
  text-transform: uppercase;
}

.containerHome .containerLeft h2 {
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #181716;
  padding: 10px;
  margin: 0;
}

.containerHome .containerLeft button {
  margin-top: 0;
  position: absolute;
  padding: 5px 20px;
  margin: 10px;
  border: none;
  bottom: 0;
  right: 0;
  background-color: black;
}

.containerHome .containerLeft button a {
  text-decoration: none;
  font-family: "IBM Plex Mono",'monospace';
  font-size: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.containerHome .containerRight h2 {
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  padding: 10px;
  -webkit-text-stroke: 2px #181716;
  margin: 0;
  color: rgba(0, 0, 0, 0);
}

.containerHome .containerRight h3 {
  text-transform: initial;
  font-family: "IBMPlexMono";
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 5px;
  color: #fd4538;
  margin: 0;
}

.containerHomeArtist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.containerHomeArtist .containerArtistLeft {
  position: relative;
  width: 50%;
  height: 300px;
  background-color: #c2c2c2;
  text-align: right;
  text-transform: uppercase;
}

.containerHomeArtist .containerArtistLeft h2 {
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #181716;
  padding: 10px;
  margin: 0;
}

.containerHomeArtist .containerArtistLeft button {
  margin-top: 0;
  position: absolute;
  padding: 5px 20px;
  margin: 10px;
  border: none;
  bottom: 0;
  right: 0;
  background-color: black;
}

.containerHomeArtist .containerArtistLeft button a {
  text-decoration: none;
  font-family: "IBMPlexMono";
  font-size: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.containerHomeArtist .containerArtistRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerHomeArtist .containerArtistRight h2 {
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  padding: 10px;
  -webkit-text-stroke: 2px #181716;
  margin: 0;
  color: rgba(0, 0, 0, 0);
}

.containerHomeArtist .containerArtistRight img {
  width: 40%;
  padding-top: 20px;
  margin-left: 50px;
}

.containerHomeMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  position: relative;
}

.containerHomeMiddle .flexContainerLeft {
  width: 50%;
  height: 300px;
  z-index: -2;
}

.containerHomeMiddle .flexContainerRight {
  z-index: 0;
  width: 50%;
  height: 300px;
  background-color: #c2c2c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerHomeMiddle .flexContainerRight .absoluteImg {
  position: relative;
  width: 50%;
  height: 80%;
}

.containerHomeMiddle .flexContainerRight .absoluteImg img {
  position: absolute;
  max-width: 100%;
  height: auto;
}

.containerHomeMiddle .flexContainerRight .absoluteImg #img1 {
  z-index: 2;
  width: 59%;
  height: 69%;
  border-radius: 11%;
  left: 42px;
  bottom: 47px;
}

.containerHomeMiddle .flexContainerRight .absoluteImg #img2 {
  z-index: 1;
}

.containerHomeMiddle .absoluteContainer {
  position: absolute;
  width: 100%;
  text-transform: uppercase;
}

.containerHomeMiddle .absoluteContainer h2 {
  width: 28%;
  margin: 0 auto;
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #181716;
}

.containerHomeMiddle .absoluteContainer h2 span {
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  -webkit-text-stroke: 2px #181716;
  color: rgba(0, 0, 0, 0);
}

.containerHomeMiddle .absoluteContainer .homeBanner {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.containerHomeMiddle .absoluteContainer .homeBanner a {
  display: block;
  margin-left: 250px;
  text-decoration: none;
  color: #ffffff;
  background: #fd4538;
  padding: 10px 15px;
  font-family: "IBMPlexMono";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  word-spacing: 10px;
  text-align: left;
}

.heroStyle {
  background-color: black;
  height: 600px;
  width: 100%;
  display: inline-block;
}

.heroStyle h2 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 6.16px;
  color: #ff9390;
  padding: 30px 0px;
  margin-bottom: 50px;
}

.heroStyle p {
  width: 80%;
  margin: 0 auto;
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.containerArtistSubstyles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  position: relative;
}

.containerArtistSubstyles .containerArtistSubsLeft {
  width: 50%;
  height: 200px;
  background-color: #c2c2c2;
  text-align: right;
  text-transform: uppercase;
  position: relative;
}

.containerArtistSubstyles .containerArtistSubsLeft h2 {
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #181716;
  padding: 10px;
  margin: 0;
}

.containerArtistSubstyles .containerArtistSubsLeft button {
  margin-top: 0;
  position: absolute;
  padding: 5px 20px;
  margin: 10px;
  border: none;
  bottom: 0;
  right: 0;
  background-color: black;
}

.containerArtistSubstyles .containerArtistSubsLeft button a {
  text-decoration: none;
  font-family: "IBM Plex Mono", "monospace";
  font-size: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.containerArtistSubstyles .containerArtistSubsRight {
  width: 35%;
}

.containerArtistSubstyles .containerArtistSubsRight h2 {
  position: relative;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  padding: 10px;
  -webkit-text-stroke: 2px #181716;
  margin: 0;
  color: rgba(0, 0, 0, 0);
}

.containerArtistSubstyles .containerArtistSubsRight h3 {
  text-transform: initial;
  font-family: "IBM Plex Mono", "monospace";
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 5px;
  color: #fd4538;
  margin: 0;
}

.containerArtistSubstyles .containerTypeArtist {
  margin-top: 20px;
}

.containerArtistSubstyles .containerTypeArtist p {
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #181716;
}

.containerArtistSubstyles .absoluteSongLink {
  position: absolute;
  width: 100%;
  bottom: 20%;
}

.containerArtistSubstyles .absoluteSongLink .music_link {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.containerArtistSubstyles .absoluteSongLink .music_link a {
  display: block;
  text-decoration: none;
  background-color: #ff9390;
  font-family: "IBM Plex Mono", "monospace";
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.artistOfTheDay {
  width: 100%;
  position: relative;
}

.artistOfTheDay .square {
  position: absolute;
  border: solid 3px #fe4538;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  z-index: -2;
}

.artistOfTheDay h2 {
  font-family: "Oswald";
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #181716;
  padding: 10px;
  margin: 0;
}

.artistOfTheDay span {
  font-family: "Oswald";
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  -webkit-text-stroke: 2px #181716;
  color: rgba(0, 0, 0, 0);
}

.artistOfTheDay .containerArtist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.artistOfTheDay .containerArtist .artistProfile {
  width: 300px;
}

.artistOfTheDay .containerArtist img {
  width: 100%;
}

.artistOfTheDay .containerArtist p {
  width: 45%;
  padding: 20px 20px 20px 50px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #000000;
}

.artistOfTheDay .containerArtist .relativeIMG {
  position: relative;
  margin-left: 50px;
  margin-bottom: 250px;
}

.artistOfTheDay .containerArtist .relativeIMG img {
  position: absolute;
  height: auto;
}

.artistOfTheDay .containerArtist .relativeIMG #img1 {
  z-index: -1;
  width: 237px;
  margin-left: 45px;
  border-radius: 10%;
  margin-top: 10px;
}

.artistOfTheDay .containerArtist .relativeIMG #img2 {
  width: 400px;
  z-index: 1;
}

.searchBar {
  text-transform: uppercase;
  text-align: center;
}

.searchBar h2 {
  font-family: "Oswald";
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #181716;
  padding: 10px;
  margin: 0;
}

.searchBar span {
  font-family: "Oswald";
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  -webkit-text-stroke: 2px #181716;
  color: rgba(0, 0, 0, 0);
}

container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.artistsheet .details {
  height: 100%;
  width: 50%;
}

.artistsheet .details h1 {
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 70px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #181716;
  padding: 10px;
  margin: 0;
}

.artistsheet .details p {
  font-family: "IBM Plex Mono", 'Monospace';
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #181716;
  padding: 10px;
  margin: 0;
}

.artistsheet .details img {
  height: 100%;
  width: 100%;
}

.artistsheet .details .badge {
  text-align: center;
  width: 10%;
  margin: 0 auto;
}

.containerArtistLeft {
  position: relative;
  width: 50%;
  height: 150px;
  text-align: right;
  text-transform: uppercase;
}

.containerArtistLeft h2 {
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #181716;
  padding: 10px;
  margin: 0;
}

.containerArtistLeft button {
  margin-top: 0;
  position: absolute;
  padding: 5px 20px;
  margin: 10px;
  border: none;
  bottom: 0;
  right: 0;
  background-color: black;
}

.containerArtistLeft button a {
  text-decoration: none;
  font-family: "IBMPlexMono";
  font-size: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.containerArtistRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerArtistRight h2 {
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  padding: 10px;
  -webkit-text-stroke: 2px #181716;
  margin: 0;
  color: rgba(0, 0, 0, 0);
}

.containerArtistRight img {
  width: 40%;
  padding-top: 20px;
  margin-left: 50px;
}

.cover {
  width: auto;
  margin-left: 5%;
}

.songs {
  width: 70%;
  margin: auto 0;
}

.songs .songlist {
  margin: 30px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.songs .songlist h3 {
  font-size: 2.6em;
  margin: 20px 30px;
  font-family: "Oswald";
}

.songs .songlist h3 a {
  color: black;
  text-decoration: none;
}

.Morediscover {
  position: relative;
}

.Morediscover .discoverTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  margin-bottom: 50px;
}

.Morediscover .discoverTitle h3 {
  font-family: "Oswald";
  font-size: 64px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: #181716;
  padding: 10px;
  margin: 0;
}

.Morediscover .discoverTitle span {
  font-family: "Oswald";
  font-size: 64px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  -webkit-text-stroke: 2px #181716;
  color: #ffffff;
}

.Morediscover .containerDiscover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.Morediscover .containerDiscover .discoverSubstyle {
  position: relative;
  background-color: #ff9390;
  margin: 0 auto;
  width: 15%;
  padding: 30px;
  height: 200px;
  margin-bottom: 100px;
}

.Morediscover .containerDiscover .discoverSubstyle a {
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 1.71px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
}

.Morediscover .containerDiscover .discoverSubstyle p {
  margin: 0;
  font-family: "IBM Plex Mono", "monospace";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: 1.23px;
  text-align: left;
  color: #ffffff;
}

.Morediscover .containerDiscover img {
  padding: 0px 25px 25px 0px;
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.dailylive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dailylive h1 {
  font-family: "Oswald";
  font-size: 80px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald";
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  padding: 10px;
  -webkit-text-stroke: 2px #181716;
  margin: 0;
  color: rgba(0, 0, 0, 0);
}

.dailylive .leftside {
  width: 20%;
}

.dailylive .leftside h1 {
  color: #181716;
  margin-left: 50px;
}

.dailylive .rightside {
  position: relative;
}

.dailylive .rightside .live {
  position: absolute;
}

.otherlives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.otherlives .oktier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
}

.otherlives .oktier img {
  width: 70%;
  margin: 0 auto;
}

.otherlives .oktier img.badge {
  width: 15%;
  margin-top: 15px;
}

.roll {
  width: 130%;
  font-family: "IBM Plex Mono", 'Monospace';
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: red;
  padding: 10px;
  margin: 0;
}

.lineup {
  font-family: "IBM Plex Mono", 'Monospace';
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  color: black;
  margin-left: 30px;
}

.lineup span {
  color: red;
}
/*# sourceMappingURL=app.css.map */