<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('build/app.css')}}">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i,400,400i,500,500i,600,600i,700,700i|Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

        {% endblock %}
    </head>
    <body>
    
        

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


<footer>
			<div class="footer">
				<div class="copyright">
					©Frequency / 2020
				</div>
				<div class="socialmedia">
					<i class="fab fa-instagram"></i>
				</div>
				<div class="socialmedia">
					<i class="fab fa-soundcloud"></i>
				</div>
				<div class="socialmedia">
					<i class="fab fa-spotify"></i>
				</div>
				<div class="socialmedia">
					<i class="fab fa-twitter"></i>
				</div>
				<div class="socialmedia">
					<i class="fab fa-youtube"></i>
				</div>
				<div class="socialmedia">
					<i class="fab fa-facebook-f"></i>
				</div>
				<div class="contact">
					<a href="#">Contact</a>
				</div>
			</div>
		</footer>
    </body>
</html>
