{% extends 'base.html.twig' %}

{% block title %}Edit Substyle{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Edit Substyle</h1>

    {{ include('substyle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('substyle_index') }}">back to list</a>

    {{ include('substyle/_delete_form.html.twig') }}
{% endblock %}
