{% extends 'base.html.twig' %}

{% block title %}Substyle index{% endblock %}

{% block body %}
    <h1>Substyle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for substyle in substyles %}
            <tr>
                <td>{{ substyle.id }}</td>
                <td>{{ substyle.name }}</td>
                <td>{{ substyle.description }}</td>
                <td>
                    <a href="{{ path('substyle_show', {'id': substyle.id}) }}">show</a>
                    <a href="{{ path('substyle_edit', {'id': substyle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('substyle_new') }}">Create new</a>
{% endblock %}
