{% extends 'base.html.twig' %}

{% block title %}New Substyle{% endblock %}

{% block body %}
    <h1>Create new Substyle</h1>

    {{ include('substyle/_form.html.twig') }}

    <a href="{{ path('substyle_index') }}">back to list</a>
{% endblock %}
