{% extends 'base.html.twig' %}

{% block title %}Substyle{% endblock %}

{% block body %}
    <h1>Substyle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ substyle.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ substyle.name }}</td>
            </tr>
                            <td>{{ user.name }}</td>

            <tr>
                <th>Description</th>
                <td>{{ substyle.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('substyle_index') }}">back to list</a>

    <a href="{{ path('substyle_edit', {'id': substyle.id}) }}">edit</a>

    {{ include('substyle/_delete_form.html.twig') }}
{% endblock %}
