{% extends 'base.html.twig' %}

{% block title %}Find your artist{% endblock %}

{% block body %}

<header>
    <div>
        <nav class="navbarBlack">
            <ul class="navbar">
                <li>
                    <a href="{{ path('home') }}" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="{{ path('search') }}" class="nav-links">Artists</a>
                </li>
                <li>
                    <a href="">
                        <img src="{{asset('build/frequency_logo_blanc.svg')}}" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{ path('style_index') }}" class="nav-links">Styles</a>
                </li>
                <li>
                    <a href="{{ path('live') }}" class="nav-links">Live</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<h1>Find your artist</h1>

{% for user in users %}
<div class="artistOfTheDay" style="margin: 0 0 50px 50px">
    <div>
        <h2>
            {{ user.pseudo }}
        </h2>
    </div>

    <div class="containerArtist">
        <div class="artistProfile">
            <img src="/build/Artist/{{ user.profilepicture }}.jpg">
        </div>

        <p>
            {{ user.description }}
        </p>
        <div class="square">
        </div>
    </div>
</div>

{# <p>---------------------------------</p> #}
{# <tbody>

    <table class="table"> #}

{# <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td> #}

{# {% else %} #}
{# <tr>
                <td colspan="13">no records found</td>
            </tr> #}
{% endfor %}
{# </tbody>
    </table> #}

{# <a href="{{ path('user_new') }}">Create new</a> #}
{% endblock %}