{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<header>
    <div>
        <nav class="navbarWhite">
            <ul class="navbar">
                <li>
                    <a href="{{ path('home') }}" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="{{ path('search') }}" class="nav-links">Artists</a>
                </li>
                <li>
                    <a href="">
                        <img src="{{asset('build/frequency_logo.svg')}}" alt="">
                    </a>
                </li>
                <li>
                    <a href="{{ path('style_index') }}" class="nav-links">Styles</a>
                </li>
                <li>
                    <a href="{{ path('live') }}" class="nav-links">Live</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<container class="artistsheet"> 
    <div class="details">
        <h1>
            {# {{ user.pseudo }} #}
            {{ user.firstname }} ; {{ user.name }}
        </h1>
        <p>
            {{ user.description }}
            James Baldwin once wrote, « Be careful what you set your heart upon, for it will surely be yours. Embracing a diligent work ethic, a spiritual mindset & a self-taught mastery of dancefloor devastation using little more than a pair of turntables, Josh Wink.In 1990, Josh met up with a kindred spirit, fellow Philly jock, King Britt whose interests also include rap and acid jazz. Pooling their interests and blending their differences, the duo waxed E-culture’s « Tribal Confusion » for respected New York based indie label, Strictly Rhythm. The record was a surprising commercial success and established both DJs as artists to watch on the global dance music scene.
        </p>

    <div class="badge">
        <img src="{{asset('build/Badges/BE.svg')}}"> 
        <img classe="badge" src="/build/Badges/{{ user.country }}.svg">  
    </div>

    </div>
    <div class="details">
        <img src="{{ user.profilepicture }}.svg"></img>
        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/59728724_10156676477769102_9112705792087162880_o.jpg?_nc_cat=110&_nc_sid=09cbfe&_nc_oc=AQlrPOCmT2V-Xm_Huo-8KAuRTBVwWVxSTgi_7981PuckaTtC3kHqaVtqLnd6GlZG7F8&_nc_ht=scontent-cdg2-1.xx&oh=1219c9b23117a77466886a0d6860a49c&oe=5ED5A1D4" alt="">
    </div>
</container> 
<container> 
		<div class="containerArtistLeft">
			<h2>ALL THE</h2>
		</div>
		<div class="containerArtistRight">
			<h2>SONGS</h2>
		</div>
</container> 
<container> 
		<div class="cover">
			<img src="https://via.placeholder.com/500x500" alt="">
		</div>

		<div class="songs">
            <div class="songlist">
            
                <h3><a href="">Tweekin Acid Funk</a></h3>
                <h3><a href="">Dex & Jonesey’s Higher Stated Mix</a></h3>
                <h3><a href="">Adana Twins Remix Two</a></h3>
            </div>
        </div>
            {# {% for user in song.users %}
                <p>
                    {{user.song}} {{user.firstname}}        
                </p>
            {% endfor %} #}

		</div>
</container> 

<container> 
		<div class="containerArtistLeft" style="width: 80%;">
			<h2>MORE</h2>
		</div>
		<div class="containerArtistRight">
			<h2>CONTENT</h2>
		</div>
</container> 

{# <img src="{{asset('build/assets/ ~ {{user.country}} ~ .svg')}}"></img> #}



<iframe width="1280" height="720" src="https://www.youtube.com/embed/plCcY6W_Klg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="1280" height="720" src="{{ user.videourl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

{{ include('user/_delete_form.html.twig') }}
{% endblock %}
